body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  color: #00ff00;
  text-align: center;
}

button {
  background-color: #00ff00;
  color: black;
  padding: 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#characterContainer img {
  width: 150px;
  border-radius: 10px;
}

#optionsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  margin-top: 20px;
}

#optionsContainer div {
  border: 1px solid #00ff00;
  border-radius: 10px;
  padding: 8px;
  width: 140px;
  text-align: center;
}



